@page
@model lilac_blossom_tarot.Pages.Spreads.DailyPullModel
@{
}


@{
Random random = new Random();
int index = random.Next(0, 22);
var randomCard = @Model.DeckResults.cards[index];

<p>Type:               @randomCard.type</p>
<p>name short:         @randomCard.name_short</p>
<p>name:               @randomCard.name</p>
<p>value:              @randomCard.value</p>
<p>value_int:          @randomCard.value_int</p>
<p>Meaning_up:         @randomCard.meaning_up</p>
<p>meaning_down:       @randomCard.meaning_rev</p>
<p>desc_up:            @randomCard.desc_up</p>
<img src="~/deck/@(randomCard.value_int).png" alt="card image" width=200px />
<h4>Didn't like your result? Draw another card here:</h4>
<a asp-page="Spreads/DailyPull" asp-route-cache-busting="@DateTime.Now.Ticks">Refresh</a>

}





