@page
@model lilac_blossom_tarot.Pages.Spreads.LetGoMoveOnModel
@{

Random random = new Random();

var randomListofCards = new List<int>();
while (randomListofCards.Count < 5)
    {
        int index = random.Next(0, 77);

        if (!randomListofCards.Contains(index))
        {
            randomListofCards.Add(index);
        }
    }

var fiveCards = randomListofCards.Select(i => @Model.DeckResults.cards[i]).ToList();

<h2>Let Go, Move On Spread</h2>
<p><b>The Let Go, Move On spread includes five cards that can help you understand an issue better and guide you on how to grow, let go, or heal from it. Think of an issue you'd like guidance on and flip the cards below. Each card represent the following:</b></p>

<p><ol><b>1. The Heart of the Issue:</b> This card represents the underlying emotions and beliefs at the heart of the issue. It may reveal the root cause of the problem or the deeper meaning behind it.</ol>
<ol><b>2. Obstacles and Challenges:</b> This card represents the obstacles and challenges that you may encounter as you try to resolve the issue. It may offer insight into what you need to overcome or what may be holding you back.</ol>
<ol><b>3. Letting Go:</b> This card represents what you need to let go of in order to move forward. It may reveal negative patterns or beliefs that you need to release or what you need to detach from in order to find peace.</ol>
<ol><b>4. Healing:</b> This card represents what you need to do to heal from the issue. It may reveal the steps you need to take to heal emotionally, spiritually, or physically.</ol>
<ol><b>5. Growth:</b> This card represents the potential for growth and transformation that can come from the issue. It may reveal what you can learn from the experience or how you can use it to become stronger and more resilient.</ol></p>

<div class="card-container" id="#top">

  <div class="flip-card" onclick="this.classList.toggle('flipped'); document.getElementById('text1').classList.toggle('show')">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="~/images/blankcardfinalupdated.png" alt="Image" width=200px>
      </div>
      <div class="flip-card-back">
        <img src="~/deck/@(fiveCards[0].value_int).png" alt="card image" width=200px />
      </div>
    </div>
    <br />
    <center><a href="#text1" onclick="event.stopPropagation()">The Heart of the Issue</a></center>
  </div>


  <div class="flip-card" onclick="this.classList.toggle('flipped'); document.getElementById('text2').classList.toggle('show')">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="~/images/blankcardfinalupdated.png" alt="Image" width=200px>
      </div>
      <div class="flip-card-back">
       <img src="~/deck/@(fiveCards[1].value_int).png" alt="card image" width=200px />
      </div>
    </div>
    <br />
        <center><a href="#text2" onclick="event.stopPropagation()">Obstacles and Challenges</a></center>
  </div>


  <div class="flip-card" onclick="this.classList.toggle('flipped'); document.getElementById('text3').classList.toggle('show')">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="~/images/blankcardfinalupdated.png" alt="Image" width=200px>
      </div>
      <div class="flip-card-back">
        <img src="~/deck/@(fiveCards[2].value_int).png" alt="card image" width=200px />
      </div>
    </div>
    <br />
           <center><a href="#text3" onclick="event.stopPropagation()">Letting Go</a></center>
  </div>

    <div class="flip-card" onclick="this.classList.toggle('flipped'); document.getElementById('text4').classList.toggle('show')">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="~/images/blankcardfinalupdated.png" alt="Image" width=200px>
      </div>
      <div class="flip-card-back">
        <img src="~/deck/@(fiveCards[3].value_int).png" alt="card image" width=200px />
      </div>
    </div>
    <br />
           <center><a href="#text4" onclick="event.stopPropagation()">Healing</a></center>
  </div>

    <div class="flip-card" onclick="this.classList.toggle('flipped'); document.getElementById('text5').classList.toggle('show')">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="~/images/blankcardfinalupdated.png" alt="Image" width=200px>
      </div>
      <div class="flip-card-back">
        <img src="~/deck/@(fiveCards[4].value_int).png" alt="card image" width=200px />
      </div>
    </div>
    <br />
           <center><a href="#text5" onclick="event.stopPropagation()">Growth</a></center>
  </div>
  </div>

  <br />
  <br />
  <br />

  <div id="text1" class="text">
    <div class="rounded-border">
    <h3>The Heart of the Issue</h3>
    <p><h4>@fiveCards[0].name</h4></p>
    <p><b>Summary:</b></p>
    <p>@fiveCards[0].meaning_up</p>
    <p><b>Description:</b></p>
    <p>@Html.Raw(fiveCards[0].desc_up)</p>
    <a href="#top">back to top</a>
    </div>
    <br />
    <center><img src="~/images/dividers/4.png" width=100px /></center>
    <br />

  </div>

  <div id="text2" class="text">
    <div class="rounded-border">
    <h3>Obstacles and Challenges</h3>
    <p><h4>@fiveCards[1].name</h4></p>
    <p><b>Summary:</b></p>
    <p>@fiveCards[1].meaning_up</p>
    <p><b>Description:</b></p>
    <p>@Html.Raw(fiveCards[1].desc_up)</p>
    <a href="#top">back to top</a>
    </div>
    <br /> 
    <center><img src="~/images/dividers/5.png" width=100px /></center>
    <br />

  </div>

  <div id="text3" class="text">
    <div class="rounded-border">
    <h3>Letting Go</h3>
    <p><h4>@fiveCards[2].name</h4></p>
    <p><b>Summary:</b></p>
    <p>@fiveCards[2].meaning_up</p>
    <p><b>Description:</b></p>
    <p>@Html.Raw(fiveCards[2].desc_up)</p>
    <a href="#top">back to top</a>
    </div>
    <br />
    <center><img src="~/images/dividers/6.png" width=100px /></center>
    <br />

  </div>

    <div id="text4" class="text">
    <div class="rounded-border">
    <h3>Healing</h3>
    <p><h4>@fiveCards[3].name</h4></p>
    <p><b>Summary:</b></p>
    <p>@fiveCards[3].meaning_up</p>
    <p><b>Description:</b></p>
    <p>@Html.Raw(fiveCards[3].desc_up)</p>
    <a href="#top">back to top</a>
    </div>
    <br />
    <center><img src="~/images/dividers/1.png" width=100px /></center>
    <br />

  </div>


    <div id="text5" class="text">
    <div class="rounded-border">
    <h3>Growth</h3>
    <p><h4>@fiveCards[4].name</h4></p>
    <p><b>Summary:</b></p>
    <p>@fiveCards[4].meaning_up</p>
    <p><b>Description:</b></p>
    <p>@Html.Raw(fiveCards[4].desc_up)</p>
    <a href="#top">back to top</a>
    </div>
    <br />
    <center><img src="~/images/dividers/2.png" width=100px /></center>
    <br />

  </div>

}

<style>

  /* Container for the flip cards and text */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Flip card styles */
  .flip-card {
    background-color: #f1f1f1;
    width: 200px;
    height: 275px;
    perspective: 1000px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  /* Flip card inner container */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Flip card front face */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Flip card front face styling */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Flip card back face styling */
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  
  /* Flipped state styling */
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Text styles */
  .text {
    width: 100%;
    display: none;
  }
  
  /* Show text when the show class is present */
  .show {
    display: block;
  }


  </style>